# GitHub NPM Auth Token
NPM_AUTH_TOKEN=to_be_modified

# API Configuration WITHOUT the /api suffix
NEXT_PUBLIC_API_URL=to_be_modified

# Google Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=to_be_modified

# Google AdSense
NEXT_PUBLIC_GOOGLE_ADSENSE_ID=to_be_modified
NEXT_PUBLIC_GOOGLE_ADSENSE_SLOT=to_be_modified
NEXT_PUBLIC_GOOGLE_ADSENSE_ADTEST=off
