{
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^next(.*)$",
    "^@mui/(.*)$",
    "^@(?!mui)(.*)$",
    "^components/(.*)$",
    "^infrastructure/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
